body {
  background-color: #191d28;
}
table {
  display: table;
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
  margin: 0;
}
.fiat-crypto-table {
  padding: 0 10px !important;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
td {
  text-align: center;
  padding: 8px;
}
tr {
  background-color: #2e3241;
  color: white;
}
